<header class="header">
  <div>
    <mat-toolbar color="primary">
      <figure style="margin-top: 18px">
        <img src="/assets/angicon.png" style="width: 30px" /><span>
          Kredi Hesaplama</span
        >
      </figure>
      <span class="example-spacer"></span>
      <ul class="header-menu">
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Anasayfa</a
          >
        </li>
        <li>
          <a routerLink="/IKHesaplama" routerLinkActive="active"
            >İhtiyaç Kredisi</a
          >
        </li>
        <li>
          <a routerLink="/TKHesaplama" routerLinkActive="active"
            >Taşıt Kredisi</a
          >
        </li>
        <li>
          <a routerLink="/EKHesaplama" routerLinkActive="active"
            >Konut/Ev Kredisi</a
          >
        </li>
      </ul>
    </mat-toolbar>
  </div>
</header>
